#nav_title {
    font-family: "Helvetica Neue", Arial, sans-serif;
    color: white;
    font-weight: 750;
}

h3 {
    font-family: "Helvetica Neue", Arial, sans-serif;
}

.darker {
    background-color: rgba(31, 31, 31, 0.9);
}

.lighter {
    background-color: #555555;
}

#background {
    background-color: #101010;
    height: 100%;
    width: 100%;
    position: fixed;
}

.timer {
    font-family: "Helvetica Neue", Arial, sans-serif;
}

#content {
    position: relative;
    z-index: 1;
    overflow-y: auto;
}
