#nav_title {
    font-family: "Helvetica Neue", Arial, sans-serif;
    color: white;
    font-weight: 750;
}

#navbar {
    background-color: rgba(31, 31, 31, 0.9);
}

#background {
    background-color: #101010;
    height: 100vh;
}

